body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px 5px;
}

.filter-sort-container {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку, если не помещаются */
    margin-bottom: 20px; /* Отступ снизу для расстояния до таблицы */
}

.filter-container,
.sort-container {
    flex: 1; /* Заставляет контейнеры занимать равное пространство */
    min-width: 300px; /* Минимальная ширина для контейнеров */
    margin-right: 20px; /* Отступ между контейнерами */
}

.filter-container:last-child,
.sort-container:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

label {
    display: inline-block;
    margin-right: 5px; /* Отступ справа для меток */
}

input[type="text"],
select {
    width: calc(100% - 22px); /* Учитываем padding и border */
    padding: 10px;
    margin-right: 10px; /* Отступ справа для полей ввода */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    cursor: pointer; /* Указатель для заголовков */
}

tr:hover {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Чередующиеся цвета строк */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ccc; /* Цвет для отключенной кнопки */
    cursor: not-allowed;
}

.router-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #28a745;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
}

.router-link:hover {
    background-color: #218838;
}
